@import 'tailwindcss';

@font-face {
  font-family: 'ABC Otto';
  src: url('/fonts/ABCOtto-Regular-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ABC Otto';
  src: url('/fonts/ABCOtto-RegularItalic-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ABC Otto';
  src: url('/fonts/ABCOtto-Bold-Trial.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FZShengSKSJW';
  src: url('/fonts/FZShengSKSJW_Zhun.TTF') format('truetype');
  font-weight: normal;
  unicode-range: U+4E00- U+9FFF;
}

@theme {
  --font-abc-otto-kai: 'ABC Otto', 'FZShengSKSJW', serif;
  --color-fangchunjia-pink: #ff43bc;
  --color-fangchunjia-green: #5eff00;
  --color-fangchunjia-gray: #bbbbbb;
  --color-fangchunjia-black: #000000;
  --color-fangchunjia-translucent: #ffffffcc;
  --media-s-w-max: 160px;
  --media-s-h-max: 160px;
  --media-m-w-max: 160px;
  --media-m-h-max: 160px;
  --media-l-w-max: 160px;
  --media-l-h-max: 160px;
  --media-spacing: 40px;
}

html,
body {
  @apply m-0 w-full h-dvh font-abc-otto-kai overscroll-none;
  /* @apply bg-[url('/bg2.jpg')] bg-cover bg-center; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  @apply cursor-pointer;
}

#app {
  @apply h-full;
  /* @apply bg-white; */
}

html:active-view-transition-type(fade) {
  &::view-transition-old(main-content) {
    animation: 3000ms cubic-bezier(0.4, 0, 0.2, 1) both fade-out;
  }
  &::view-transition-new(main-content) {
    animation: 3000ms cubic-bezier(0.4, 0, 0.2, 1) both fade-in;
  }
}

@keyframes fade-out {
  from {
    opacity: '100%';
  }
  to {
    opacity: '0%';
  }
}

@keyframes fade-in {
  from {
    opacity: '0%';
  }
  to {
    opacity: '100%';
  }
}

.breeze {
  @apply grid grid-flow-row h-full aspect-3/2;
  @apply grid-cols-12 grid-rows-8;

  & > div {
    @apply col-span-1 aspect-square relative;

    & > * {
      @apply absolute;
    }

    & > .petal {
      @apply cursor-pointer;
    }
  }

  & > .c-40 {
    @apply col-span-2 aspect-[2/1];
  }
}

.media-grid {
  @apply grid grid-flow-row gap-y-8;

  /* @apply grid-rows-[repeat(auto-fill,var(--polka-dot-diameter))] gap-[var(--polka-dot-spacing)] grid-flow-row; */

  @apply grid-cols-5;

  .media-wrapper {
    /* @apply flex justify-end; */
    @apply col-span-3;

    /* example */
    &.s {
      @apply col-span-3;
    }
    &.m {
      @apply col-span-4;
    }
    &.l {
      @apply col-span-5;
    }

    .media {
      @apply relative block;
    }
  }
  /* 
  .media-wrapper-s {
    @apply col-span-3;
  }

  .media-wrapper-m {
    @apply col-span-4;
  }

  .media-wrapper-l {
    @apply col-span-5;
  } */

  & > * {
    /* @apply h-[var(--polka-dot-diameter)]; */
  }
}

.markdown {
  h1 {
    @apply text-2xl leading-none font-bold mb-4;
  }

  h2 {
    @apply text-xl leading-none font-bold;
  }

  h3 {
    @apply text-lg leading-none uppercase;
  }

  a {
    @apply text-fangchunjia-pink;
  }

  ul {
    @apply mb-4;
  }

  ul li p {
    @apply mb-0;
  }

  p {
    @apply mb-2;
  }

  img {
    @apply w-3/5 my-8;
  }
}
