name: Deploy to S3

on:
  push:
    branches: [develop]
  # pull_request:
  #   branches: [main]

env:
  AWS_REGION: eu-west-3
  NODE_VERSION: '22.x'

permissions:
  id-token: write
  contents: read
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1.7.0
        with:
          role-to-assume: arn:aws:iam::093549766891:role/GitHubAction
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: ${{ env.AWS_REGION }}
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'
      - name: npm install and build
        run: |
          npm install
          npm run build --if-present
      - name: Deploy to AWS S3
        if: success()
        run: aws s3 sync ./dist s3://www.fangchunjia.com
